In [1]:
import pandas as pd

In [2]:
import impala_con.subida_bodega as sb

In [ ]:
df= pd.read_csv(r'z:\00. INFORMES\BI\Base_Preventiva_Bodega.csv')
df.tail()

,fuente,Producto 2,mes,Agru. Ciclo,Fecha Seguimiento,Cuentas Norm,Saldo Norm,Cuentas Pendientes,Saldo Pendiente,Momentos,Saldo Norm x Dia,Unnamed: 11
39513,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250329,53,195737887.0,2606,1.370592e+10,5,77352647,NaN
39514,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250330,62,229130141.0,2597,1.367252e+10,6,33392254,NaN
39515,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250331,84,336479147.0,2575,1.356518e+10,7,107349006,NaN
39516,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250401,106,479840855.0,2553,1.342181e+10,8,143361708,NaN
39517,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250402,131,620008368.0,2528,1.328165e+10,9,140167513,NaN

In [11]:
import impala_con.subida_bodega as sb

sb.subir_datos_datalake(df)
impala = sb.impala("DSN=impalanube")

NameError: name 'df' is not defined

In [8]:
from impala_con.subida_bodega import subir_datos_datalake, impala

ImportError: cannot import name 'impala' from 'impala_con.subida_bodega' (c:\Users\cob1jba\Desktop\subida_bodega 4\subida_bodega\src\impala_con\subida_bodega.py)

In [4]:
from impala_con import subir_datos_datalake
from impala_con import Impala

ImportError: cannot import name 'subir_datos_datalake' from 'impala_con' (unknown location)

In [6]:
impala = Impala("DSN=impalanube") # Colocar como lo tenga configurado en su máquina

NameError: name 'Impala' is not defined

In [7]:
impala.run_sql_query("TRUNCATE TABLE IF EXISTS te_respaldamos.cob1jlu_base_preventiva")

Corriendo query SQL...
Query ejecutado con éxito!

In [8]:
subir_datos_datalake(
    dsn = "DSN=impalanube",
    csv_path_or_dataframe = data_preventiva,
    table_name = "te_respaldamos.cob1jlu_base_preventiva",
    batch_size = 10000 # se puede obviar, por defecto es 10000
)

Empieza carga de DataFrame hacia la tabla te_respaldamos.cob1jlu_base_preventiva...

Se realizarán envíos de 3 lotes de size 13164...

39490 registros cargados de 39490...

Tiempo tomado para llevar 39490 registros a bodega fue: 0.70 minutos

Ejecutando queries COMPUTE, INVALIDATE y REFRESH sobre la tabla...

Proceso terminado!