In [1]:
import pandas as pd

In [4]:
data_preventiva= pd.read_csv(r'L:\00. INFORMES\BI\Base_Preventiva_Bodega.csv')
data_preventiva.tail()

,fuente,Producto 2,mes,Agru. Ciclo,Fecha Seguimiento,Cuentas Norm,Saldo Norm,Cuentas Pendientes,Saldo Pendiente,Momentos,Saldo Norm x Dia
39485,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250328,42,118385240.0,2617,1.378327e+10,4,47446515.0
39486,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250329,53,195737887.0,2606,1.370592e+10,5,77352647.0
39487,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250330,62,229130141.0,2597,1.367252e+10,6,33392254.0
39488,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250331,84,336479147.0,2575,1.356518e+10,7,107349006.0
39489,Credicompras alkosto,Credicompras alkosto,202504,CICLO 2,20250401,101,452177868.0,2558,1.344948e+10,8,115698721.0

In [5]:
from impala_con import subir_datos_datalake
from impala_con import Impala

In [6]:
impala = Impala("DSN=impalanube") # Colocar como lo tenga configurado en su máquina

In [7]:
impala.run_sql_query("TRUNCATE TABLE IF EXISTS te_respaldamos.cob1jlu_base_preventiva")

Corriendo query SQL...
Query ejecutado con éxito!

In [8]:
subir_datos_datalake(
    dsn = "DSN=impalanube",
    csv_path_or_dataframe = data_preventiva,
    table_name = "te_respaldamos.cob1jlu_base_preventiva",
    batch_size = 10000 # se puede obviar, por defecto es 10000
)

Empieza carga de DataFrame hacia la tabla te_respaldamos.cob1jlu_base_preventiva...

Se realizarán envíos de 3 lotes de size 13164...

39490 registros cargados de 39490...

Tiempo tomado para llevar 39490 registros a bodega fue: 0.70 minutos

Ejecutando queries COMPUTE, INVALIDATE y REFRESH sobre la tabla...

Proceso terminado!